
<html>
  <mat-card class="container app" style="text-align:center">
     <div class="col-sm-12">
      <h2> Iniciar sesión </h2>
    </div>
    <div class="col-sm-12">
      <p> Tienda EMILYN</p>
    </div>

    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Usuario" [(ngModel)]="username" username="servicioService.selectedLmodelos.usuario">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Contraseña" [(ngModel)]="contrase" type="password" contrase="servicioService.selectedLmodelos.contrase">
        </mat-form-field>

        <mat-form-field>
            <select matNativeControl required>
             <option value="volvo">Español</option>
             <option value="saab">Ingles</option>
             <option value="mercedes">Aleman</option>
             </select>
           </mat-form-field>
           <br/>
           <mat-slide-toggle color="primary"> Recordar</mat-slide-toggle>
    </div>
    <br/>
     <a mat-raised-button color="primary" href="crud" >Ingresar</a>
     <br/>
     <br/>
     <a mat-raised-button color="primary" href="registrar" >Registrar</a>
  </mat-card>
  </html>
