
<html>
  <mat-card class="container app" style="text-align:center">
     <div class="col-sm-12">
      <h2> Registro De Cliente Tienda EMILYN</h2>
    </div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" >
        <input matInput placeholder="Apellido" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellido" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Direccion" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefono" type="tel" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Celular" type="pattern" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo Electronico" type="email" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Estado" >
      </mat-form-field>
    </form>

     <br/>
       <a mat-raised-button color="primary" href="login" >guardar</a>
  </mat-card>
  </html>
